aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
dnspython
frozenlist
googletrans==4.0.0rc1
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
iso3166
motor
multidict
propcache
pyaes
pymongo
Pyrogram
PySocks
requests
rfc3986
six
sniffio
soupsieve
stripe
TgCrypto
TwoCaptcha
typing_extensions
urllib3
user_agent
yarl
pypasser
cryptography
